// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
  box-sizing: border-box;
}
.wrapper {
  width: 80%;
  margin: 0 auto;

}
.list_description {

}
.product {
  border: 1px solid  black;
  height: 290px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 32%;
  float: left;
  position: relative;

}

.create {
  clear: both;
  padding: 50px;
}

.buttons {
  position: absolute;
  bottom: 10px;
}

.list_image {

  float: left;
  padding: 5px;
  
}
